/* PAGE D'ACCUEIL*/

/* Barre de navigation*/
/* Logo, en haut à gauche dans la barre de navigation*/
.logo {            
  float: left;
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: auto;
}

/*Barre de navigation fixe*/
.navigation {                                                                     
  background-color: rgb(0, 0, 0, .7);
  text-align: center;
  overflow: hidden;
  position: fixed;
  float: inline-end;
  height: 100px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Style du texte de la barre de navigation*/
.navigation a {       
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

/*Hover : action lors du passage du curseur sur les éléments de la barre de navigation*/
.navigation a:hover {                                                               
  background-color: rgb(70, 68, 68);
  color: black;
}

/*Active : action lors du click*/
.navigation a:active {                                                              
  background-color: #ffffff;
  color: white;
}
/*________________________________________________________________________________________________________*/
/*BODY*/

/*Article*/
/*Style du 1er article*/
.container1 {                                                                         
  padding-top: 200px;
  padding-bottom: 200px;
  width : 400 px;
  height : 400 px;
  text-align : center;
}

/*Style du 2eme article*/
.container2 {                                                                         
  padding-top: auto;
  padding-bottom: 150px;
  width : 100%;
  height : 100%;
  position :static;
  text-align : center;
}
/*Style du 3eme article*/
.container3 {                                                                         
    
  margin-top: auto;
  padding-bottom: 100px;
  width : 200 px;
  height : 100 px;
  text-align : center;
}

/*Style des textes sous les images*/
.text-block {                    
  position: inherit;
  text-align: left;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Positionnement des recettes : colonne de trois recettes*/
.colonne1 {                                                                              
  display: grid;
  float: left;
  text-align: center;
  padding: 11px;
}

.ligne1:after {                                                                          
  content: "";
  clear: both;
  display: table;
  text-align: center;
}
/*___________________________________________________________________________________________________________/*
/*Livre d'or*/

 /* Type Slideshow : defilement de plusieurs avis.................................................. */
.defilement {                                                                  
  margin-top: 100px;
  width: 100%;
  position: absolute;
  background: #f1f1f1f1;
}

.slides {                                                                              
  display: list-item;
  padding: 0px;
  text-align: center;
}

.prev {                                                                            
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {                                                                                      
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover {                                                                  /*  */
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {                                                                            /* */
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {                                                                                      /*  */
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {                                                                         /*  */
  background-color: #717171;
}

q {font-style: italic;}                                                                       /* */

.author {color: rgb(80, 82, 85);}

/*_______________________________________________________________________________________________________*/
/* LES RECETTES*/
/* Style polaroid avec passage vers les recettes suivantes et précédentes*/
.polaroid {
  width: 45%;
  height: auto;
  float: right;
  margin-top: 150px ;  
  margin-left: auto;
  margin-right: 20px; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align : center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.polaroid2 {
  width: 45%;
  height: auto;
  float: left;
  margin-top: 150px ;  
  margin-left: 20px;
  margin-right: auto; 
  padding-left: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align : centerleft;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.container4 {         
  display : inline-block;                                                             
  text-align : center;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.colonne2 {
  display: flex;
  flex-wrap: wrap;
}

.cote {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 150px;
}

.précédent {
  background-color: #f1f1f1;
  color: black;
}

.suivant {
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}
/*________________________________________________________________________________________________________*/
/* CONTACT : le modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(204, 204, 204); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input:focus {

  outline: none !important;
  border-color: rgb(255, 187, 0);
  box-shadow: 0 0 10px #719ECE;
}

input:required:invalid {
  background: rgb(250, 136, 136);
}

input:required:valid {
  background-color: rgb(108, 180, 112);
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex : 50%;
}

input[type=submit]:hover {
  background-color: #cccccc;
}

input[type=reset] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #45a049;
}

.champ:focus {
  border : 3px solid yellow
}

.container5 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  }

.rowf {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 -16px;
}
.col50 {
  flex: 25%;
  padding : 20px;
}